<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
     <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </nav>
    <h1>Home Page</h1>
    <img   style="width:300px"  src="/assets/images/home.jpg" alt="">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis totam nesciunt repudiandae esse, officiis, doloremque consequuntur ad nostrum unde provident blanditiis? Vero natus doloribus iusto quia, soluta recusandae a necessitatibus.</p>
</body>
</html>