<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>About Us Page</h1>
    <p>Welcome to About Page</p>
    <h2>
        <%=title%>
    </h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem iste modi fuga illo, quam optio ratione nulla odio aliquam doloremque incidunt, natus exercitationem eius ad quo soluta velit, reiciendis ea.</p>
</body>
</html>